@import '@bb/styles/colors.module.scss';

/*
	Base styles for layout and common use elements
*/

.mainWrapper {
	min-height: 100%;
	margin-bottom: -100px;
	padding-bottom: 100px;

	.mainContent {
		padding: 80px 0;

		.pageTitle {
			text-align: center;
			margin-bottom: 50px;
		}
	}
}

.footer {
	width: 100%;
	height: 100px;
	background-color: $breezy_dark_alt;
	color: $light;
	display: flex;
	align-items: center;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// Lib

.cardBase {
	padding: 15px;
	margin-bottom: 20px;
}

.code {
	display: block;
	background: #121212;
	color: #eee;
	border-radius: 4px;
	padding: 30px 15px;
	overflow-x: scroll;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
