@import './colors.module.scss';

/*
	Base styles for layout and common use elements
*/

.mainWrapper {
	min-height: 100%;
	margin-bottom: -100px;
	padding-bottom: 100px;

	.mainContent {
		padding: 100px 0;
	}
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: $breezy_dark_alt;
	color: $light;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
