$light: #f5f5f5;
$dark: #212121;

$error_color: #f44336;
$warning_color: #ff9800;
$info_color: #2196f3;
$success_color: #4caf50;

// "Breezy" theme
$breezy_primary_light: #A9ABC7;
$breezy_primary: #777AA6;
$breezy_primary_dark: #404363;

$breezy_secondary_light: #BEE3DB;
$breezy_secondary: #89B0AE;
$breezy_secondary_dark: #416260;

$breezy_tertiary: #FEC086;

$breezy_grey_light: #D0D3DC;
$breezy_grey_dark: #66686d;
$breezy_light: #FAF9F9;
$breezy_light_alt: #CFD1DD;
$breezy_dark: #0F0F1A;
$breezy_dark_alt: #161627;

// "Ocean" theme
$ocean_blue: #0081A7;
$ocean_green: #00AFB9;
$ocean_yellow: #FDFCDC;
$ocean_orange: #FED9B7;
$ocean_red: #F07167;

