@import '~/styles/colors.module.scss';

.paper {
	margin-bottom: 30px;
	padding: 30px 15px;
	min-height: 300px;
}

.listsHeader {
	h4 {
		margin-right: 10px;
	}

	span {
		color: $breezy_grey_dark;
	}
}

.listItem {
	margin-bottom: 30px;

	a {
		color: $breezy_primary;

		&:hover {
			color: $breezy_secondary;
		}
	}

	em {
		color: $breezy_grey_dark;
	}
}
