.paper {
	margin-bottom: 20px;
	padding: 15px 10px;
}

.beerImage {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 10px auto;
}

.breweryImage {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 10px auto;
}
