.homeCentered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn {
	margin-top: 20px !important;
}

.card {
	padding: 30px;
	margin-top: 40px;
}
