.card {
	padding: 15px;
	text-align: center;
	min-height: 400px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	img {
		width: 100%;
		max-width: 200px;
		margin: auto;
	}

	.website {
		display: flex;
		align-items: center;
		margin: 5px 0;

		svg {
			font-size: 0.9rem;
			margin-right: 5px;
		}
	}

	.btns {
		display: flex;
		justify-content: space-between;

		a {
			width: 100%;
		}
	}
}
