@import '@bb/styles/colors.module.scss';

.noItems {
	text-align: center !important;
	font-style: italic;
}

.listItem {
	a {
		color: $breezy_primary_dark;

		&:hover {
			cursor: pointer;
			color: $breezy_primary;
		}
	}
}

.deleteListBtn {
	color: $error_color !important;
	transition: 300ms;

	&:hover {
		transition: 300ms;
		color: $breezy_grey_dark !important;
		background: none !important;
	}
}

.deleteBtn {
	background-color: $error_color !important;
	color: $breezy_light;

	&:hover {
		background-color: $error_color_dark !important;
	}
}
