.paper {
	padding: 30px;
	margin-top: 160px;
}

.header {
	text-align: center;
	margin-bottom: 30px !important;
}

.submit {
	margin-top: 30px;

	button {
		margin-bottom: 15px;
	}

	a {
		text-decoration: underline;
		color: gray;
	}
}
