.searchBar {
	margin-bottom: 60px;

	button[type='submit'] {
		height: 100%;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.input {
	* {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}
